<div class="container">
<h1>Ajouter votre restaurant</h1>


<%= simple_form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.submit "add a restaurant", class: "btn btn-primary" %>
<% end %>

<%= link_to "Back to restaurants", restaurants_path %>
</div>
