<div class="container">
<h1> <i class="fas fa-utensils"></i> <%= @restaurant.name %></h1>

<ul class="list-unstyled">


<li>Category: <%= @restaurant.category %> </li>

<li><i class="fas fa-map-marker-alt"></i> <%= @restaurant.address %>  </li>
<li><i class="fas fa-phone"></i> <%= @restaurant.phone_number %> </li>

</ul>


<h2><i class="fab fa-yandex"></i>eviews</h2>
<ul>

<% @reviews.each do |review| %>
<li>
<%= review.content %> -  <% review.rating.times do %> <i class="fas fa-star"></i> <%end %>
</li>
<% end %>
</ul>

<%= link_to "Add a review", new_restaurant_review_path(@restaurant.id) %>
<br>
<%= link_to "Back to list", restaurants_path %>
</div>
